 
 body{
  color: black;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
 }
 .last{
    padding: 50px 50px;
    background-color: gray;
    height: 400px;
    width: 1240px;
    border-top: 5px solid white;;
    
 }
 .last .copy{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-left: 200px;
 }
 .last .container{
    display: flex;
    justify-content: space-evenly;
    
 }
 .last .container div p{
    color: aqua;
    text-transform: none;
    font-size: 40px;
    font-weight: bold;
 }
 .last .container div ul li{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style: none;
 }
 .last h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
 }
 .mat{
   background-color: rgb(8, 25, 54);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   font-weight: bold;
   align-items: center;
   text-align: center;
   padding: 30px 30px;
   color: white;
 }
 
 .mat p{
   color: white;

 }
 .mat .look{
   font-size: 20px;
   font-family: cursive;
   color: aliceblue;
 }
 .simi{
   background-color: darkslategray;
   margin-top: 0;
   padding: 30px 30px;
 }
 .simi p{
   color: white;
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
   font-weight: bold;
   margin-left: 40px;
 }
 .wait{
   display: flex;
   flex-direction: row;
   padding: 30px;
   justify-content: space-evenly;
   margin: 50px 50px;
   
 }
 .wait div{
   padding: 10px 10px;
   border-radius: 15px;
   box-shadow: 15px 15px 15px  gray;
   height: 300px;
   width: 300px;
   
    

 }
 .wait div .me{
   color: aqua;
   font-size: 30px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;

 }
 .view{
   display: flex;
   flex-direction: row;
   padding: 30px;
   justify-content: space-between;
   background-color: rgb(226, 171, 171);
   margin-bottom: 100px;
   padding: 40px 40px;

 }
 .view div{
   padding: 10px 10px;
   border-radius: 15px;
   box-shadow: 5px 5px 5px gray;
   height: 200px;
   width: 500px;
   
 }
 .view div video{
   height: 200px;
   width: 500px;
 }
  button{
   height: 50px;
   width: 200px;
   color: black;
   background-color: yellow;
   font-size: 30px;
   font-weight: bold;
   border-radius: 30px;
 }
 button:hover{
   color: yellow;
   background-color: black;
   border: 3px solid yellow;
 }
 h1{
  margin-left: 200px;
  color: rgb(6, 48, 48);
  font-family: cursive;
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 3px 3px 3px yellow;

 }
   